.GameOptions {
  background-color: hsl(240, 77%, 43%);
  color: rgb(239, 239, 120);

  & > * {
    outline: rgb(225, 126, 225) 1px solid;
  }

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;

  label {
    background-color: hsl(240, 77%, 20%);

    input {
      width: 5rem;
    }
  }
}
